# IntelliJ IDEA files
.idea
*.iml

target/
testsuite/
wasi-testsuite/
.classpath
.project
.settings
dependency-reduced-pom.xml
jmh-result.json
scripts/jmh-tmp
/main/

/*.wasm
.approval_tests_temp/

# mac-os files
.DS_Store

/local-repo

/wasm-tools/*.tar.gz

/binaryen-install
/zig-install
/zig-source
/zig-testsuite
