name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: [11]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '${{ matrix.version }}'
      - name: Test Java
        run: mvn -B verify
