name: Nightly Fuzz

on:
  schedule:
# FIXME: Disabled waiting for: https://github.com/dylibso/chicory/pull/386
    - cron: "0 12 1 1 *" # At 12:00 on day-of-month 1 in January.
#    - cron: "0 0 * * *" # everyday

permissions:
  pull-requests: write

jobs:
  fuzz:
    name: Fuzz
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Checkout testsuite
        uses: actions/checkout@v5
        with:
          repository: WebAssembly/testsuite
          path: testsuite
          # The ref needs to stay in sync with the default value in test-gen-plugin
          ref: 88e97b0f742f4c3ee01fea683da130f344dd7b02
      - name: Checkout wasi-testsuite
        uses: actions/checkout@v5
        with:
          repository: WebAssembly/wasi-testsuite
          path: wasi-testsuite
          ref: prod/testsuite-base
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven
      - name: Setup `wasmtime`
        uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          version: "v17.0.0"
      - name: Setup `wasm-tools`
        uses: bytecodealliance/actions/wasm-tools/setup@v1
        with:
          version: "1.0.57"
      - name: Fuzz Test
        if: github.repository_owner == 'dylibso'
        run: |
          # Build everything
          mvn -B install -DskipTests
          # Run only the fuzz tests
          mvn -B clean verify -pl fuzz -DskipTests=false -Dfuzz.test.numeric=10 -Dfuzz.test.table=10

      - name: Create Pull Request with the crash repro
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        if: failure()
        with:
          token: ${{secrets.GH_TOKEN}}
          commit-message: Nightly crash
          committer: Chicory BOT <chicory@dylibso.com>
          author: Chicory BOT <chicory@dylibso.com>
          signoff: false
          branch: fuzz-crash-repro
          branch-suffix: random
          delete-branch: true
          title: '[FUZZ] Crash reproducer'
          body: Fuzz testing failed and there are new reproducers available.
          draft: false
