name: Perf

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  perf-main:
    name: JMH tests on baseline
    runs-on: ubuntu-latest
    outputs:
      result-link: "https://nightly.link/dylibso/chicory/actions/artifacts/${{ steps.artifact-upload-step.outputs.artifact-id }}.zip"
    steps:
      - name: Checkout sources for this branch
        uses: actions/checkout@v5
        with:
          ref: main
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build JMH jars on main
        run: ./scripts/build-jmh.sh
      - name: Run JMH
        run: ./scripts/run-jmh.sh
      - uses: actions/upload-artifact@v5
        id: artifact-upload-step
        with:
          name: main
          path: jmh-result.json

  perf-current:
    name: JMH tests on current branch
    runs-on: ubuntu-latest
    outputs:
      result-link: "https://nightly.link/dylibso/chicory/actions/artifacts/${{ steps.artifact-upload-step.outputs.artifact-id }}.zip"
    steps:
      - name: Checkout sources for this branch
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build JMH jars
        run: ./scripts/build-jmh.sh
      - name: Run JMH
        run: ./scripts/run-jmh.sh
      - uses: actions/upload-artifact@v5
        id: artifact-upload-step
        with:
          name: current
          path: jmh-result.json

  perf-show-results:
    name: Show JMH tests results
    runs-on: ubuntu-latest
    needs:
      - perf-main
      - perf-current
    steps:
      - name: Produce a link to the visualization
        run: echo "./scripts/show-results.sh ${{ needs.perf-main.outputs.result-link }} ${{ needs.perf-current.outputs.result-link }}"
      - name: Show the result in the summary
        run: |
          echo "Visualize JMH results using this script from the project root:" >> $GITHUB_STEP_SUMMARY
          echo -e '<pre><code>./scripts/show-results.sh ci ${{ needs.perf-main.outputs.result-link }} ${{ needs.perf-current.outputs.result-link }}</code></pre>' >> $GITHUB_STEP_SUMMARY
          echo "Or use a pre-built container image:" >> $GITHUB_STEP_SUMMARY
          echo -e '<pre><code>docker run --rm -it -p 3000:3000 docker.io/andreatp/chicory-show-jmh ci ${{ needs.perf-main.outputs.result-link }} ${{ needs.perf-current.outputs.result-link }}</code></pre>' >> $GITHUB_STEP_SUMMARY
